fastapi[standard]
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
asyncpg
psycopg2-binary
PyJWT
passlib
bcrypt
groq
sentence-transformers
chromadb
pymupdf
slowapi
cryptography
pdfplumber
pdf2image
pytesseract
httpx
pytest